@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.webgl{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}


.globeTitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 78%;
    transform: translate(-50%,-75%);
}
.desTitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    position: absolute;
    font-size: 1rem;
    left: 52%;
    top: 80%;
    transform: translate(-60%,50%);
}
nav{
    color: white;
   z-index: 2;
   position: relative;
   padding: 4rem 8rem;
   display: flex;
   justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 4rem;
}
.title{
    color: white;
    font-family: 'Foldit', cursive;
    z-index: 2;
    font-size: 40px;
    position: absolute;
    left: 35%;
    top: 20%;
    transform: translate(-10%,-25%);
}
.title2{
    color: white;
    font-family: 'Foldit', cursive;
    z-index: 2;
    font-size: 40px;
    position: absolute;
    left: 35%;
    top: 25%;
    transform: translate(-10%,-25%);
}
.title3{
    color: white;
    font-family: 'Foldit', cursive;
    z-index: 2;
    font-size: 40px;
    position: absolute;
    left: 35%;
    top: 30%;
    transform: translate(-10%,-25%);
}
.exploreBtn{
    position: absolute;
    left: 50%;
    top: 90%;
    width: 100px;
    transform: translate(-70%,-25%);
    z-index: 10;
    border-radius: 100px;
}