@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.webgl{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}


.globeTitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 78%;
    transform: translate(-50%,-75%);
}
.desTitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    position: absolute;
    font-size: 1rem;
    left: 52%;
    top: 80%;
    transform: translate(-60%,50%);
}