*{
    margin: 0;
    padding: 0;
}
.webgl{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

.globeTitle{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-75%);
}
.desTitle{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 2;
    position: absolute;
    font-size: 2rem;
    left: 50%;
    top: 75%;
    transform: translate(-50%,10%);
}